<div class="header"><h1 class="slidetitle">پرسشی هست؟</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>بهترین مکان برای گرفتن
پاسخی درباره‌ی آریوس انجمن اوبونتو ایران می باشد. با بیش‌ترین پرسش‌هایی که جواب داده شده
اند، و صدهانفر که آماده‌ی کمک هستند، در کوتاه‌ترین زمان به پاسخ
می‌رسید. </p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">بیا درباره‌ی گنو/لینوکس صحبت کنیم</h2>
		<div class="l10n-string twitter-post-status-text">دارم #آریوس نصب می‌کنم!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
