<div class="header"><h1 class="slidetitle">پشتیبانی خوب از زبان فارسی</h1></div>

<div class="main">

<div class="text">

<div>
<p>
پشتیبانی خوب از زبان فارسی، فونت های آزاد و استفاده از کیبرد استاندارد فارسی.
همچنین تقویم شمسی به صورت پیش فرض در دسترس شماست.
</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
