<div class="header"><h1 class="slidetitle">آهنگ‌هایتان را با خود به همراه ببرید</h1></div>

<div class="main">

<div class="text">

<div>
<p>آریوس همراه با پخش‌کننده‌ی موسیقی فوق‌العاده‌ی ریتم‌باکس می‌آید. با
گزینه‌های پخش پیش‌رفته و صف‌بندی
آوازهای بی‌ اندازه آسان . و هم‌چنین به‌ بهترین نحو با سی‌دی‌ها و
پخش‌کننده‌های موسیقی قابل‌حمل کار می‌کند، پس می‌توانید هرجا که می‌روید از
تمام آهنگ‌هایتان لذت ببرید.</p>
</div>

<div class="featured">
<h2 class="subtitle">نرم‌افزارهای موجود</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">پخش‌کننده‌ی آهنگ ریتم‌باکس</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
