<div class="header"><h1 class="slidetitle">سفارشی‌سازی‌ آریوس</h1></div>

<div class="main">

<div class="text">

<div>
<p>در سیستم عامل آریوس شما می توانید نسبت به سلیقه خود تغییرات بسیار زیادی را در محیط کاربری خود اعمال کنید. پلاگین های بسیار زیادی برای محیط گنوم شل آماده شده است که نسبت به نیاز خود می توانید از آنها استفاده کنید.</p>
</div>

<div class="featured">
<h2 class="subtitle">گزینه‌های سفارشی‌سازی</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">ظاهر</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">فن‌آوری‌های یاری‌گر</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">پشتیبانی زبان</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
