<div class="header"><h1 class="slidetitle">Browse the web</h1></div>

<div class="main">

<div class="text">

<div>
<p>AriOS includes Mozilla Firefox for fast and safe web browsing. It’s easy to use and it’s backed by a non-profit foundation that loves the web. If you aren’t a Firefox fan, there are also lots of alternatives in the Ubuntu Software Center.</p>
</div>

<div class="featured">
<h2 class="subtitle">Included software</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Firefox web browser</p>
	</li>
</ul>
<h2 class="subtitle">Supported software</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpeg" />

</div>
