<div class="header"><h1 class="slidetitle">Welcome to AriOS 4</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Fast and feature-packed, AriOS makes your PC a delight to use. And with the latest versions of the Unity and Gnome Shell interface, it's now easier than ever. Here are a few more cool new things to look out for.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
