<div class="header"><h1 class="slidetitle">از تصاویر خود لذت ببرید</h1></div>

<div class="main">

<div class="text">

<div>
<p>شات‌ول یک مدیر عکس سودمند است که برای گجت‌های شما آماده شده است. یک دوربین
یا تلفن را برای انتفال عکس‌هایتان وصل کنید، بعد به‌اشتراک گذاری و امن
نگه‌داشتن آن‌ها آسان می‌شود. اگر احساس خلاقیت می‌کنید، می‌توانید برنامه‌های
بسیار کاربردی عکس را از مرکز نرم‌افزاری اوبونتو امتحان کنید.</p>
</div>

<div class="featured">
<h2 class="subtitle">نرم‌افزارهای موجود</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">مدیر عکس شات‌ول</p>
	</li>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">ویرایشگر تصویر گیمپ</p>
	</li>
	
</ul>
<h2 class="subtitle">نرم‌افزارهای پشتیبانی‌شده</h2>
<ul>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">ویراشگر ویدئوی پی‌تی‌وی</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
