<div class="header"><h1 class="slidetitle">آنلاین بمانید</h1></div>

<div class="main">

<div class="text">

<div>
<p>
با استفاده از نرم افزارهای موجود در آریوس میتوانید همواره از طریق شبکه های اجتماعی با دیگران در ارتباط باشید .
</p>
</div>

<div class="featured">
<h2 class="subtitle">خدمات پشتیبانی‌شده</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">توییتر</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">فیس‌بوک</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">آیدنتی.کا</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
