<div class="header"><h1 class="slidetitle">نرم افزارهای بیش‌تری بیابید</h1></div>

<div class="main">

<div class="text">

<div>
<p>مرکز نرم‌افزاری اوبونتو هزاران برنامه‌ی کاربردی آماده برای رایانه‌ی شما
دارد. فقط آن‌چه می‌خواهید را تایپ کرده یا دسته‌هایی مانند بازی، علمی، و
آموزشی را کاوش کنید. بارگیری چیزهای جدید و نوشتن نقدهایتان برای به‌اشتراک
گذاری تجربه‌هایتان آسان است.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
